body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(199, 199, 199);
}

.app {
  max-width: 400px;
  margin: 0 auto;
}

.time-line {
  border-left: 4px solid #ccc;
  padding-left: 12px;
}

.card {
  position: relative;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    left: -21px;
    top: 50%;
    transform: translateY(-50%);
  }
}
